header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  justify-items: end;
  width: 1100px;
  height: 293px;
  background-color: white;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-content: space-between;
  justify-self: flex-start;
  align-self: flex-start;
  width: 392px;
  height: 22px;
  padding-top: 134px;
}

.header__links-list {
  display: contents;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  list-style-type: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item {
  list-style-type: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header_logo {
  display: inline;
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  letter-spacing: 1px;
  line-height: 25px;
}

.address_contacts {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 1100px;
  min-height: 757px;
  background-image: url(/images/cover.jpg);
  background-size: 1100px 757px;
  flex-wrap: wrap;
  margin: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: RGB(0 0 0/0.6);
}

.cover__title {
  display: inline-block;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  letter-spacing: 30px;
  color: white;
  z-index: 1;
  width: 1000px;
  height: 385px;
}

.aligned-text_left {
  display: block;
  width: 286px;
  height: 115px;
  padding-top: 83px;
  padding-left: 50px;
}

.aligned-text_center {
  display: block;
  width: 339px;
  height: 115px;
  padding-top: 107px;
  padding-left: 378px;
}

.aligned-text_right {
  display: block;
  width: 387px;
  height: 115px;
  padding-top: 126px;
  padding-left: 662px;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  width: 1120px;
  height: 51px;
  padding-top: 70px;
  padding-left: 3px;
  letter-spacing: 0;
  word-spacing: 18px;
  z-index: 1;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
}

.button {
  width: 256px;
  height: 51px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  background-color: transparent;
  color: white;
  border-style: solid;
  border-color: white;
  text-transform: uppercase;
}

.lots {
  width: 1052px;
  height: 723px;
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  letter-spacing: 0%;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 25px;
  list-style: none;
  margin-top: 28px;
  width: 1052px;
  min-height: 596px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  position: relative;
  color: white;
  z-index: 1;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.card__title {
  font-family: Raleway;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.card__text {
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.lots__look-more-link {
  display: inline-block;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  padding-left: 41px;
  padding-top: 30px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.about {
  width: 1052px;
  height: 595px;
  margin: 120px 24px 120px 24px;
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 120px;
  margin-left: 48px;
  margin-top: 36px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__column {
  display: flex;
  flex-direction: column;
  column-gap: 24px;
}

.about__title {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 136px;
  padding-left: 26px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  padding-top: 101px;
  padding-left: 24px;
}

.footer {
  width: 1100px;
  height: 180px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-content: flex-start;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 181px;
}

.footer__menu-list {
  width: 164px;
  height: 64px;
  list-style-type: none;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  text-align: center;
  padding-top: 2px;
}

.footer__menu-list-item {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer__social-list-item {
  display: flex;
  gap: 48px;
  width: 240px;
  height: 48px;
  padding-right: 20px;
  justify-self: end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
